@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");


* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #3783cb;
}

body {
  background: #000;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading ul {
  position: relative;
  left: 38%;
  top: 50%;
  padding-left:50% ;
  transform: translate(-50%,-50%);
  margin: 0;
  font-size: 28px;
  display: flex;
}
/* .features .heading ul{
  padding-left: 52.30%;
}
.trainers .heading ul{
  padding-left: 52.30%;
}*/
.blogs .heading ul {
  padding-left:46.60% ;
}
.heading ul li{
  list-style: none;
  font-family: arial;
  font-style: 5rem;
  letter-spacing: 15px;
  color: #fff;
  text-shadow: none;
  animation: animate 1.1s infinite linear;
}

@keyframes animate {
  0%{
     color: #fff;
     text-shadow:none;
  }
  18%{
    color: #fff;
    text-shadow:none;
 }
 20%{
  color: #fff;
  text-shadow:0 0 7px  #3783cb,0 0 20px #3783cb;
}
30%{
  color: #fff;
  text-decoration: none;
}
35%{
  color: #fff;
  text-shadow:0 0 7px #3783cb,0 0 20px #3783cb;
}
70%{
  color: #fff;
  text-decoration: none;
}
85%{
  color: #fff;
  text-shadow:0 0 7px #3783cb,0 0 20px #3783cb;
}
90%{
  color: #fff;
  text-decoration: none;
}
100%{
  color: #fff;
  text-decoration: none;
}
}

.heading ul li:nth-child(1){
  animation-delay: .2s;
}
.heading ul li:nth-child(2){
  animation-delay: .4s;
}
.heading ul li:nth-child(3){
  animation-delay: .6s;
}
.heading ul li:nth-child(4){
  animation-delay: .8s;
}
.heading ul li:nth-child(5){
  animation-delay: 1s;
}
.heading ul li:nth-child(6){
  animation-delay: 1.2s;
}
.heading ul li:nth-child(7){
  animation-delay: 1.4s;
}
.heading ul li:nth-child(8){
  animation-delay: 1.6s;
}
.heading ul li:nth-child(9){
  animation-delay: 1.8s;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #3783cb 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  transform: scale(1.1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: #000;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
 
}


.header .logo span {
  color: #3783cb;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: #3783cb;
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  margin-top: 6.5rem;
}

.home .slide {
  min-height: 70vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
}

.home .slide .content {
  width: 60rem;
}

.home .slide .content span {
  font-size: 2rem;
  color: #3783cb;
  display: block;
}

.home .slide .content h3 {
  font-size: 5rem;
  color: #fff;
  padding: 1rem 0;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #3783cb;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem;
}

.about .image {
  flex: 1 1 42rem;
  position: relative;
}

.about .image::before, .about .image::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #3783cb;
  height: 15rem;
  width: 15rem;
}

.about .image::before {
  top: 0;
  left: 0;
}

.about .image::after {
  bottom: 0;
  right: 0;
}

.about .image img {
  width: 100%;
  padding: 2rem;
}

.about .content {
  flex: 1 1 42rem;
}

.about .content span {
  font-size: 2rem;
  color: #3783cb;
}

.about .content .title {
  font-size: 4rem;
  color: #fff;
  margin-top: 0.5rem;
}

.about .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.about .content .box-container .box {
  flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.about .content .box-container .box h3 i {
  padding-right: 1.5rem;
  color: #3783cb;
}

.features .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.2rem;
 gap:0;
  place-items: center;
}

.features .box-container .box {
  background: #111;
}

.features .box-container .box.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

.features .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.features .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}

.features .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.features .box-container .box .content img {
  height: 9rem;
  margin-bottom: 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.features .box-container .box .content h3 {
  font-size: 2rem;
  color: #3783cb;
}

.features .box-container .box .content p {
  line-height: 2;
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.pricing .information span {
  font-size: 2rem;
  color: #3783cb;
}

.pricing .information h3 {
  font-size: 4rem;
  padding-top: .5rem;
  color: #fff;
}

.pricing .information p {
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}

.pricing .information p i {
  padding-right: 1rem;
  color: #3783cb;
}

.pricing .plan{
  text-align: center;
  padding: 2rem;
}
.pricing .basic {
  background: linear-gradient(130deg, #111 93%, transparent 90%);
}
.pricing .plan h3{
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #fff;
}
.pricing .plan .price{
  font-weight: bolder;
  font-size: 5rem;
  color: #3783cb;
}
.pricing .plan .price span{
  color: #fff;
  font-size: 2rem;
}
.pricing.plan.list{
  padding: 1rem 0;
}
.pricing .plan .list p {
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}

.pricing .plan .list p i {
  padding-right: 1rem;
  color: #3783cb;
}

.trainers .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
  place-items: center;
}

.trainers .box-container .box {
  height: 100%;
    width: 100%;
  overflow: hidden;
  position: relative;
}

.trainers .box-container .box :hover.content{
  transform:translateY(0) ;
}

.trainers .box-container .box img {
  height: 100%;
  width: 100%;
}

.trainers .box-container .box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  padding: 2rem;
  transform: translateY(6.5rem);
}

.trainers .box-container .box .content span {
  font-size: 1.5rem;
  color: #3783cb;
}

.trainers .box-container .box .content h3{
  font-size:2rem ;
  color: #fff;
  padding-top:.5rem ;
}

.trainers .box-container .box .content .share{
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: .1rem solid #aaa;
}

.trainers .box-container .box .content .share a{
  font-size: 2rem;
  color: #fff;
  margin-right:1.5rem ;
}

.trainers .box-container .box .content .share .face:hover {
  color: #4267B2;
 
}

.trainers .box-container .box .content .share .twit:hover {
  color: #1DA1F2;
  
}
.trainers .box-container .box .content .share .pin:hover {
  color: #c8232c;
 
}
.trainers .box-container .box .content .share .link:hover {
  color: #0e76a8;
 
}

.banner {
  background: linear-gradient(rgba(0,0,0,.7),rgb(0,0,0,.7)), url(images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.banner  span{
  font-size: 2rem;
  color: #3783cb;
}

.banner  h3{
  padding-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.banner  p{
  margin: 1rem auto;
  min-width: 60rem;
  font-size: 1.5rem;
  color:#aaa;
  line-height: 2;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.review .information {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.review .information span {
  font-size: 2rem;
  color: #3783cb;
}

.review .information h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 1rem;
}

.review .information p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.review .review-slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
}

.review .review-slider .slide{
  background: linear-gradient(130deg, #111 93%, transparent 90%);
  padding: 2rem 3rem;

}

.review .review-slider .slide p{
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.review .review-slider .slide .user{
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.review .review-slider .slide .user img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.review .review-slider .slide .user h3{
  font-size: 2rem;
  color: #fff;
}

.review .review-slider .slide .user span{
  color: #3783cb;
  font-size: 1.5rem;
}

.review .review-slider .slide .user i{
  font-size: 5rem;
  margin-left: auto;
  margin-right: 2rem;
  color: #3783cb;
}

.blogs .slide{
  background:#111 ;
  margin-bottom: 7rem;
}

.blogs .slide:hover .image img{
  transform: scale(1.1);
}

.blogs .slide .image{
  height: 25rem;
  width:100%;
  overflow: hidden;
}

.blogs .slide .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .slide .content{
  padding: 2rem
}

.blogs .slide .content .link{
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.blogs .slide .content .link a{
  color: #3783cb;
}

.blogs .slide .content .link a:hover{
  color: #fff;
}

.blogs .slide .content .link span{
  color: #fff;
  padding: 0 1rem;
}

.blogs .slide .content h3{
  font-size: 2rem;
  color: #fff;
  line-height: 1.5;
}

.blogs .slide .content p{
  font-size: 1.5rem;
  color: #aaa;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box .links{
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box .links:hover{
  color: #3783cb;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box  p i{
  padding-right: .5rem;
  color: #3783cb;
}

.footer .box-container .box .share{
  padding:1rem 0;
} 

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  background: #111;
  border-radius: 50%;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: #3783cb;
}

.footer .box-container .box form .email{
  margin-bottom: 1rem;
  width: 100%;
  background: #111;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.credit{
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background: #111;
}

.credit span{
  color: #3783cb;
}



/* Media Queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide {
    padding: 2rem 5%;
  }
  .home .slide .content {
    width: 50rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }

.features .heading ul {
  margin-left: -2.5rem;
}
.trainers .heading ul{
  margin-left: -1.3rem;
}
.blogs .heading ul {
  padding-left: 39.6%;
}
}








@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
  }
  .about {
    gap: 3rem;
  }
  .about .image {
    margin-top: 5rem;
  }
  .about .content .title {
    font-size: 3rem;
  }
  .features .box-container .box.second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .features .heading ul {
    margin-left: -6.2rem;
}
.trainers .heading ul{
  margin-right: -7.5rem;
}
.blogs .heading ul {
  margin-left: -4%;
}
}
@media (min-width: 420px) and (max-width:570px) {
  .trainers .heading ul {
    margin-right: -17.5rem;
}
.blogs .heading ul {
  margin-right: -13.5rem;
}
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .features .heading ul {
    margin-left: -7.6rem;
}
.trainers .heading ul {
  margin-left: -10%;
}
.blogs .heading ul {
  margin-left: -16%;
}
.blogs .heading ul li{
  letter-spacing: 9px;
}
.blogs .heading ul{
  margin-left: -16%;
}
}

  /*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */